:root {
    --pixel-size: 32px;
    --scale-factor: 8;
    --sprite-sheet-length: 5;
}

#instructions {
    margin-top: 5em;
    text-align: center;
}

#orange {
    width: 25%;
    margin-left: 5em;

}

.spritesheet {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    width: calc(var(--pixel-size) * var(--scale-factor) * var(--sprite-sheet-length));
    position: absolute;
}

#candle {
    width: calc(var(--pixel-size) * var(--scale-factor));
    height: calc(var(--pixel-size) * var(--scale-factor));
    overflow: hidden;
    position: relative;
    margin-right: 5em;
}

.spritesheet:hover {
    animation: animateCandle 0.5s steps(5) infinite;
}

#images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    margin-top: 5em;
    text-align: center;
}

@keyframes animateCandle {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0)
    }
}